body {
  background-color: #ffb3e6;
}

button {
  border: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

@font-face {
  font-family: umaGothic;
  src: url(../UmaMusumeGothic.otf);
}
.umapyoi_rap {
  width: 100%;
}

#canvas {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.title {
  width: 40vh;
}
.wrap_container{
  display: flex;
  justify-content: space-around;
}
.Container{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#label-container {
  padding-top: 40px;
  text-align: center;
}
