body{
  background-color: #ffb3e6;
}

button{
  border: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

@font-face {
  font-family: umaGothic;
  src: url(../UmaMusumeGothic.otf);
}
.umapyoi_rap{
  width: 100%
}

#canvas{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.title{
  margin-top: 100px;
  text-align: center;
  font-family: umaGothic;
  font-size: 50px;
}

#label-container{
  padding-top: 100px;
  text-align: center;
}
